@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body
{
    background-color: #000000;
}
h1
{
    text-align: center;
    color: #000000;
    font-family: 'VT323', monospace;
    font-size: 60px;
    font-weight: lighter;
    text-shadow: #00ff00 0 0 10px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    border-bottom: #00ff00 2px solid;
    background-color: #00ff00;
    
}

td
{
    border: 1px solid black;
}

.menu
{
    background-color: rgb(0, 0, 0);
    margin: 100px;
    padding-left: 100px;

    
}

.menuoption
{
    background: #000;
    border: 3px solid #00ff00;
    color: #00ff00;
    font-family: 'VT323', monospace;
    font-size: 25px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.5s;

    width: 200px;
}

.menuoption:hover{
    transform: translateY(15px);
    background: #00ff00;
    color: #000;
    box-shadow: 0 0 20px #00ff00
}
.typing-c {
    width: 80%;
    margin: 50px auto;
    font-family: 'VT323', monospace;
    font-size: 24px;
    color: #00ff00;
    text-align: center;
    border: 2px solid #00ff00;
    padding: 20px;
    box-shadow: 0 0 10px #00ff00;
    background-color: #000;

    animation: 
     typing 4s steps(40,end) forwards,
     blink .75s step-end infinite;
}